
@{
    ViewBag.Title = "thanhtoanthanhcong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-left:20%;margin-right:20%">
    <p style="font-weight:bold">
        Kính chào Quý khách!
    </p>

    thông tin đơn đặt hàng của quý khánh đã được chúng tôi ghi nhận.
    chúng tôi sẽ phản hồi thông tin sớm nhất có thể đến quý khách.<br />
    công ty chúng tôi rất hân hạnh phục vụ Quý khách.<br />
    liên hệ:0123456789<br />
    Xin cám ơn!<br />
    <p style="text-align:right;"><a href="@Url.Action("Index","Home")">Về trang chủ</a></p>

</div>

