
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    body{
        background-image:url(../images/bglogin.jpg);
        

    }
</style>
<h1 style="text-align:center;margin-top:20%;color:green">Quản lý hệ thống</h1>

